//
//  Config.h
//  AirBitz
//
//  Created by Carson Whitsett on 3/28/14.
//  Copyright (c) 2014 AirBitz. All rights reserved.
//
//  Compile-time configurations.  Should all be zero for deployment

#ifndef AirBitz_Config_h
#define AirBitz_Config_h

#define AIRBITZ_CORE_API_KEY            @"0000000000"
#define HIDDENBITZ_KEY                  @"0000000000"

#define AIRBITZ_DIRECTORY_API_KEY       @"0000000000000000000000000000000000000000"

#define HOCKEY_MANAGER_ID               @"00000000000000000000000000000000"

/* These should be 0 for deployment */
#define AIRBITZ_IOS_DEBUG               0   /* set to 1 while debugging */
#define HARD_CODED_LOGIN                0   /* set to 1 to auto login with credientials below (used for testing) */

#define HARD_CODED_LOGIN_NAME           @"000000000"
#define HARD_CODED_LOGIN_PASSWORD       @"000000 000000000"

#define GLIDERA_API_KEY                 @"0000000000000000"
#define GLIDERA_API_SANDBOX_KEY         @"0000000000000000"

#define CLEVERCOIN_API_KEY              @"00000000000"
#define CLEVERCOIN_API_LABEL            @"Need an API Key"
#define CLEVERCOIN_API_SECRET           @"00000000000"

#define FOLD_API_KEY                    @"00000000000"

#define BITREFILL_API_KEY               @"00000000000"

#endif
